.members {
  // border: 1px solid tomato;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;

  h1 {
    align-self: center;
    justify-self: flex-start;
  }

  .memberCarousel {
    width: 90%;
    padding: 1rem;

    // border: 1px solid hotpink;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    transition: ease-in-out 1s;

    .memberCard {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
      padding: 1rem 0rem;
      border: 1px solid var(--copBlue);
      border-radius: 10px;
      box-shadow: 0px 0px 5px 2px var(--copBlue);
      transition: ease-in-out 0.25s;
      white-space: nowrap;
      overflow: visible;

      img {
        width: 70%;
        margin: 1rem;

        border: 1px solid var(--copBlue);
        border-radius: 10px;
        box-shadow: 0px 0px 5px 2px var(--copBlue);
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        transition: ease-in-out 0.25s;

        li {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          margin: 0.1rem;
          transition: ease-in-out 0.25s;
        }
        li:first-child {
          margin: 0.5rem;
          color: #f67a29;
          text-shadow: 0px 0px 5px #f67a29;
        }
        li:hover {
          text-shadow: 0px 0px 5px #f67a29;
          transition: ease-in-out 0.25s;
        }
      }

      a {
        color: var(--fontColor);
        transition: ease-in-out 0.25s;
      }

      a:hover {
        color: #f67a29;
        font-size: 1.1rem;
        transition: ease-in-out 0.25s;
      }
    }

    .memberCard:hover {
      transition: ease-in-out 0.25s;
      transform: scale(1.2);
    }
  }
}
