.header {
  flex-flow: row nowrap;
  justify-content: center;

  h1 {
    flex-flow: row nowrap;
    justify-content: center;
    width: 80vw;

    font-size: 3rem;
    font-weight: bold;

    background-color: var(--copBlue);
    box-shadow: 0px 0px 2px 2px var(--copBlue);

    padding: 1rem;
    margin: 2rem;
  }
}
