:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --javaYellow: #f9e64f;
  --titaniumYellow: #ddd92a;
  --stickerOrange: #f67a29;

  --copBlue: #0e518d;
  --bgColor: #333444;
  --fontColor: whitesmoke;
}

body {
  background-color: var(--bgColor);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  color: var(--fontColor);
  text-shadow: 0px 0px 5px var(--fontColor);
}

.App {
  // border: 1px solid hotpink;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 90vw;
}

.header {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

  h1 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 80vw;

    font-size: 3rem;
    font-weight: bold;

    background-color: var(--copBlue);
    padding: 1rem;
    margin: 2rem;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 10px var(--copBlue);
  }
}

.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-evenly;
  width: 90%;
  margin: 0.5rem 0;

  span * {
    display: flex;
    justify-content: center;
    padding: 0.5rem;

    background-color: var(--copBlue);
    border-radius: 10px;
    box-shadow: 0px 0px 3px 2px var(--copBlue);
    // , -2px -1px 3px 0px whitesmoke;
  }

  a {
    font-weight: bold;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--fontColor);
  }

  a.active {
    color: var(--stickerOrange);
    text-shadow: 0px 0px 5px var(--stickerOrange);
  }
}

.start {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  // border: 1px solid hotpink;

  h1 {
    margin: 3rem;
  }
}

.contact {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  height: 70vh;
  width: 70vw;
  border: 1px solid tomato;

  h1 {
    align-self: center;
  }
  span {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    padding: 1rem;
    border: 1px solid yellow;
    height: 30%;
    border: 1px solid var(--copBlue);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px var(--copBlue);

    img {
      // max-width: 50%;
      // max-height: 100%;
      opacity: 10%;
      border: 1px solid var(--copBlue);
      border-radius: 10px;
      box-shadow: 0px 0px 5px 2px var(--copBlue);
    }

    ul {
      list-style: none;

      li:first-child {
        margin: 0.5rem 0;
        font-size: 1.4rem;
        color: var(--stickerOrange);
        text-shadow: 0px 0px 5px var(--stickerOrange);
      }

      li {
        margin: 0.1rem 0.5rem;
        font-size: 1.2rem;
      }

      a {
        text-decoration: none;
        color: var(--fontColor);
        text-shadow: 0px 0px 5px var(--fontColor);
        transition: ease-in-out 0.25s;
      }
      a:hover {
        text-decoration: underline;
        color: var(--stickerOrange);
        text-shadow: 0px 0px 5px var(--stickerOrange);
        transition: ease-in-out 0.25s;
      }
    }
  }

  div {
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    transition: ease-in-out 0.25s;

    button {
      margin: 1rem 0;
      padding: 0.2rem;
      background-color: var(--copBlue);
      border-radius: 10px;
      box-shadow: 0px 0px 3px 2px var(--copBlue);
      color: var(--fontColor);
      font-weight: bold;
      text-shadow: 0px 0px 5px var(--fontColor);
      transition: ease-in-out 0.25s;
    }

    button:active {
      color: var(--stickerOrange);
      text-shadow: 0px 0px 5px var(--stickerOrange);
      transition: ease-in-out 0.25s;
    }
  }
}

.members {
  // border: 1px solid tomato;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90vw;

  h1 {
    margin: 1rem;
    // color: var(--stickerOrange);
    // text-shadow: 0px 0px 5px var(--stickerOrange);
  }

  .memberCarousel {
    width: 90%;
    padding: 1rem;

    // border: 1px solid hotpink;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    transition: ease-in-out 1s;

    .memberCard {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-evenly;
      align-items: center;
      margin: 0;
      padding: 1rem 0rem;
      border: 1px solid var(--copBlue);
      border-radius: 10px;
      box-shadow: 0px 0px 5px 2px var(--copBlue);
      transition: ease-in-out 0.25s;
      white-space: nowrap;
      overflow: visible;

      img {
        width: 70%;
        margin: 1rem;

        border: 1px solid var(--copBlue);
        border-radius: 10px;
        box-shadow: 0px 0px 5px 2px var(--copBlue);
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        transition: ease-in-out 0.5s;

        li {
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          margin: 0.1rem;
          transition: ease-in-out 0.5s;
        }
        li:first-child {
          margin: 0.5rem;
          color: #f67a29;
          text-shadow: 0px 0px 5px #f67a29;
        }
        li:hover {
          text-shadow: 0px 0px 5px #f67a29;
          transition: ease-in-out 0.5s;
        }
      }

      a {
        color: var(--fontColor);
        transition: ease-in-out 0.5s;
      }

      a:hover {
        color: #f67a29;
        font-size: 1.1rem;
        transition: ease-in-out 0.5s;
      }
    }

    .memberCard:hover {
      transition: ease-in-out 0.25s;
      transform: scale(1.2);
    }
  }
}
