.showsContainer {
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 70vw;

  .shows {
    align-items: flex-start;
    width: 100%;

    h2 {
      align-self: center;
      justify-self: flex-start;
      font-size: 1.8rem;
      font-weight: bold;
      color: var(--stickerOrange);
      text-shadow: 0px 0px 3px var(--stickerOrange);
    }

    ul {
      align-items: flex-start;
      font-size: 1.2rem;
      width: 90%;

      ul {
        padding: 1rem 2rem;
        margin-bottom: 1rem;

        list-style: none;

        border: 1px solid var(--copBlue);
        box-shadow: 0px 0px 5px 2px var(--copBlue);

        li:first-child {
          margin: 0.5rem 0;
          font-size: 1.4rem;
          color: var(--stickerOrange);
          text-shadow: 0px 0px 3px var(--stickerOrange);
        }

        li {
          margin: 0.3rem 3rem;
        }
      }

      a {
        text-decoration: none;
        transition: ease-in-out 0.25s;
      }
      a:hover {
        text-decoration: underline;
        color: var(--stickerOrange);
        text-shadow: 0px 0px 5px var(--stickerOrange);
        transition: ease-in-out 0.25s;
      }
    }
  }
}
