.showsContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: flex-start;
  width: 70vw;

  .shows {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 1rem;
    margin: 1rem;
    width: 45%;
    max-height: 20%;
    border: 1px solid var(--copBlue);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px var(--copBlue);

    h2 {
      align-self: center;
      justify-self: flex-start;
      font-size: 1.8rem;
      font-weight: bold;
      color: var(--stickerOrange);
      text-shadow: 0px 0px 5px var(--stickerOrange);
    }

    img {
      margin: 0 20%;
      border: 1px solid var(--copBlue);
      border-radius: 10px;
      box-shadow: 0px 0px 5px 2px var(--copBlue);
    }

    ul {
      list-style: none;
      margin-bottom: 2rem;

      li:first-child {
        margin: 0.5rem 0;
        font-size: 1.2rem;
        // font-weight: bold;
        color: var(--stickerOrange);
        text-shadow: 0px 0px 5px var(--stickerOrange);
      }

      li {
        margin: 0.3rem 3rem;
      }

      a {
        text-decoration: none;
        color: var(--fontColor);
        text-shadow: 0px 0px 5px var(--fontColor);
        transition: ease-in-out 0.25s;
      }
      a:hover {
        text-decoration: underline;
        color: var(--stickerOrange);
        text-shadow: 0px 0px 5px var(--stickerOrange);
        transition: ease-in-out 0.25s;
      }
    }
  }
}
